body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #101010;
    color: #ccc;
}

h1 {
    color: #fff;
}

label {
    color: #888;
}

.axis path,
.axis line {
    stroke: #ccc;
}

.axis text {
    font-size: 12px;
}

.tooltip {
    position: absolute;
    background: #1a1a1a;
    color: #fff;
    padding: 5px;
    border-radius: 3px;
    font-size: 12px;
    pointer-events: none;
    opacity: 0;
    border: 1px solid #444;
}

input {
    accent-color: #880000;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    text-align: center;
  }

.centered svg {
    text-align: center;
}